{% extends 'base.html' %}
{% load static %}
{% block title %}Категории{% endblock %}
{% block page_title %}
Категории
{% endblock %}
{% block products %}
<div class="categories_list_block">
    {% for category in categories %}
    <form class="categories_form" action="{% url 'categories' %}">
        <p>{{ category.name }}</p>
        <div class="bnt_block">
            <a class="edit_btn" href="{% url 'category_edit' category.pk %}">Редактировать</a>
            <a class="delete_btn" href="{% url 'delete' category_id=category.pk %}">Удалить</a>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}