{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
<body>
{% block products %}
{% for product in products %}
<div class="product_block">
    <div class="img_block">
        <img src="{{product.image}}" alt="">
    </div>
    <div class="content_block">
        <b>{{product.name}}</b>
        <p>Категория: {{product.category.name}}</p>
        <b>Цена: {{product.price}} тг</b>
        <a class="more_link" href="{% url 'product_view' product.pk %}">Посмотреть больше..</a>
    </div>
</div>
{% endfor %}
{% endblock %}
</body>
</html>