{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block products %}
<div class="single_product_block">
    <div class="img_block">
        <img src="{{ product.image }}" alt="">
    </div>
    <div class="content_block">
        <h3>{{ product.name }}</h3>
        <p>{{ product.category.name }}</p>
        <b>Цена: {{ product.price }} тг</b>
        <p>{{ product.description }}</p>
        <p>Добавлен: {{ product.create_at }}</p>
    </div>
</div>
{% endblock %}