{% extends 'base.html' %}
{% load static %}
{% block categories%}Категории{% endblock %}
{% block title %}{{ product.name }}{% endblock %}
{% block page_title %}
Добавить товар
{% endblock %}
{% block products %}
<div class="add_block">
    <form action="{% url 'products_add' %}" method="post">
        {% csrf_token %}
        <label>Наименование товара</label><br/>
        <input type="text" name="name"/><br/>

        <label>Цена</label><br/>
        <input type="number" name="price"/><br/>

        <label>Изображение</label><br/>
        <textarea name="image" cols="30" rows="10"></textarea><br/>

        <label>Категория</label><br/>
        <select name="category" id="">
            {% for category in categories %}
            <option value="{{ category.pk }}">{{ category.name }}</option>
            {% endfor %}
        </select><br/>

        <label>Описание товара</label><br/>
        <textarea name="description" cols="30" rows="10"></textarea><br/>

        <input class="submit_btn"  type="submit" value="Добавить">
    </form>
</div>
{% endblock %}